<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mandelbrot</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1 id="u1">Mandelbrot con valores:</h1>
        <ul>
            <li>x1={{x1}}</li>
            <li>x2={{x2}}</li>
            <li>y1={{y1}}</li>
            <li>y2={{x2}}</li>
        </ul>
        <img src="/static/mandelbrot.png" alt="imagen calculada">
    </body>
</html>