{% extends 'layout.html' %}

{% block content %}
    <div class="container py-5">
    <div class="row">
            <div class="col-md-6 offset-md-3 text-center mx-auto">
                <h4>Name: {{musician.name}}</h4>
                <h4>Group: {{musician.group.name}}</h4>
                <h4>Birthday: {{musician.birthday}}</h4>
                <h4>Main Instrument: {{musician.main_instrument}}</h4>
                <a class="btn btn-warning" href="{% url 'musician_edit' pk=musician.pk %}">Edit</a>
                <a href="{% url 'musician_delete' pk=musician.pk %}" class="btn btn-danger">Delete</a>
            </div>
    </div>
</div>
    
{% endblock %}