{% extends 'list.html' %}

{% block card %}
    <div class="card mx-5 my-5">
            <div class="card-body">
                <h5 class="card-title">Name: <a href="{% url 'musician_detail' pk=object.pk %}">{{object.name}}</a></h5>
                <p class="card-text">Group: {{object.group.name}}</p>
                <p class="card-text">Birthday: {{object.birthday}}</p>
                <p class="card-text">Main instrument: {{object.main_instrument}}</p>
            </div>
    </div>
{% endblock %}