{% extends 'layout.html' %}

{% block content %}

    <div class="row my-5">

        <div class="col-md-4 text-center">
            <p class="h4">Birthplace</p>
            <iframe
                src="https://maps.google.com/?ie=UTF8&t=m&ll={{musician.lat}}, {{musician.lon}}&spn=0.003381,0.017231&z=16&output=embed"
                width="500"
                height="350"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""></iframe>
        </div>
        <div class="col-md-4 text-center">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4>Name:
                        {{musician.name}}</h4>
                </li>
                <li class="list-group-item">
                    <h4>Group:
                        {{musician.group}}</h4>
                </li>
                <li class="list-group-item">
                    <h4>Birthday:
                        {{musician.birthday}}</h4>
                </li>
                <li class="list-group-item">
                    <h4>Main instrument:
                        {{musician.main_instrument}}</h4>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <a class="btn btn-warning my-3" href="{% url 'musician_edit' pk=musician.pk %}">Edit</a>
                <a href="{% url 'musician_delete' pk=musician.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>

    </div>

{% endblock %}